fastmcp
fastapi
aiohttp
fastapi
langgraph
langchain_openai
langchain-mcp-adapters
langchain-openai
langchain
copilotkit

#image model
google-generativeai


#test_mcp_server
pytest-asyncio
inline_snapshot
inline-snapshot[black]

#databse:
sqlmodel
psycopg2
psycopg