fastmcp
fastapi
aiohttp
fastapi
langgraph
langchain_openai
langchain-mcp-adapters
langchain-openai
langchain
copilotkit
langgraph-cli[inmem]
nest_asyncio

#image model
google-generativeai


#test_mcp_server
pytest-asyncio
inline_snapshot
inline-snapshot[black]

#databse:
sqlmodel
psycopg2
psycopg[binary]

#models
langchain-nvidia-ai-endpoints

#ai & scheduling
pydantic-ai
apscheduler